{{/*
# SPDX-FileCopyrightText: 2023 Joseph P. De Veaugh-Geiss
# SPDX-FileCopyrightText: 2022 Arwin Neil Baichoo
# SPDX-FileCopyrightText: 2022 Lana Lutz
# SPDX-FileCopyrightText: 2022 Paul Brown
# SPDX-License-Identifier: CC-BY-SA-4.0
*/}}

{{ define "head-import" }}
{{ end }}

{{ define "main" }}

<main id="home">

  <section class="home-jumbotron background text-light mt-0" >
    <div class="container">
      <h1 class="header">{{ i18n "home.header" }}</h1>
      <p class="subtitle">{{ i18n "home.header-subtitle" }}</p>
    </div>
  </section>

  <section class="py-4 mb-4 d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-4 mt-4 py-5 text-center">
          <img class="icon" src="/images/be-green-icon.png" alt="{{ i18n "home.sustainability-title" }}"/>
          <h4 class="fw-bold">{{ i18n "home.sustainability-title"}}</h3>
          <p>{{ i18n "home.sustainability-description"}}</p>
          <a href="/be-green" class="btn btn-link">{{ i18n "home.learn-more" }}</a>
        </div>
        <div class="col-md-4 mt-4 py-5 text-center">
          <img class="icon" src="/images/grow-green-icon.png" alt="{{ i18n "home.advocate-title"}}"/>
          <h4 class="fw-bold">{{ i18n "home.advocate-title"}}</h4>
          <p>{{ i18n "home.advocate-description"}}</p>
        </div>
        <div class="col-md-4 mt-4 py-5 text-center">
          <img class="icon" src="/images/make-green-icon.png" alt="{{ i18n "home.impact-title" }}"/>
          <h4 class="fw-bold">{{ i18n "home.impact-title"}}</h4>
          <p>{{ i18n "home.impact-description"}}</p>
          <a href="/make-green" class="btn btn-link">{{ i18n "home.learn-more" }}</a>
        </div>
      </div>
    </div>
  </section>

  <section class="section-gray d-flex align-items-center py-2">
    <div class="container py-4">
      <div class="row">
        <div class="col-lg-6 d-flex align-items-center">
          <img class="img-fluid" src="/images/sustainable-foss-image-optimized.png" alt={{ i18n "home.about-foss-description" }} class="img-fluid pb-4">
        </div>
        <div class="col-lg-6  d-flex flex-column justify-content-center">
          <h2 class="m-0 pb-4">{{ i18n "home.about-foss-title" }}</h2>
          <p>{{ i18n "home.about-foss-description" }}</p>
          <p>{{ i18n "home.about-foss-description-2" }}</p>
        </div>
      </div>
    </div>
  </section>

  <section class="py-2">
    <div class="container">
      <div class="row mb-5">
        <div class="col-lg-6 p-4">
          <h2>{{ i18n "home.okular" }}</h2>
          <h4 class="pb-4">{{ i18n "home.okular.be" }} </h4>
          <a class="btn btn-outline-success" href="https://eco.kde.org/{{ .Site.LanguagePrefix }}/blog/2022-03-16-press-release-okular-blue-angel">{{ i18n "home.okular.pr" }}</a>
        </div>
       <div class="col p-2 mt-3 order-first order-lg-last">
          <a href="https://eco.kde.org/blog/2022-03-16-press-release-okular-blue-angel/">
            <img class="img-fluid" src="/images/okular-main_w_logos_cleantitle.webp" alt="{{ i18n "home.okular" }}" />
          </a>
        </div>
      </div>
    </div>
  </section>

<section class="section-green">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 pb-3">
        <a href="/get-involved">
          <h2 class="">{{ i18n "home.engage" | markdownify }}</h2>
        </a>
        <p>{{ i18n "home.engage.joinus" }}</p>
      </div>
      <div class="col-md-2 col-12 mt-4 text-center">
        <a href="https://invent.kde.org/teams/eco">
          <img class="svg-icon" src="/images/gitlab-logo-700.png" alt="{{ i18n "home.engage.repo" }}" style="max-width:3em" />
          <p class="p-4">{{ i18n "home.engage.repo" }}</p>
        </a>
      </div>
      <div class="col-md-2 col-12 mt-4 text-center">
        <a href="https://webchat.kde.org/#/room/#energy-efficiency:kde.org">
          <img class="svg-icon" src="/images/matrix.png" alt="{{ i18n "home.engage.matrix" }}" style="max-width:3em" />
          <p class="p-4">{{ i18n "home.engage.matrix" }}</p>
        </a>
      </div>
      <div class="col-md-2 col-12 mb-4 mb-md-0 mt-4 text-center">
        <a href="https://mail.kde.org/cgi-bin/mailman/listinfo/kde-eco-discuss">
          <img class="svg-icon" src="/images/mail-mark-unread.png" alt="{{ i18n "home.engage.mailinglist" }}" style="max-width:3em" />
          <p class="p-4">{{ i18n "home.engage.mailinglist" }}</p>
        </a>
      </div>
    </div>
  </div>
</section>

  <section class="section post d-flex align-items-center pb-4">
      <div class="container pb-3">
        <div class="d-flex justify-content-between align-items-center pb-4 px-3">
          <h2 class="text-left ml-4">{{ i18n "home.events-title" }}</h2>
          <a href="/events" class="btn btn-primary mt-4 d-none d-md-block mx-2">{{ i18n "home.button.see-all" }}</a>
        </div>
      <div class="row g-5 mx-0"> 
        {{ $pages := (.Site.GetPage "/events").RegularPagesRecursive }}
        {{ range .Site.Home.Translations }}
        {{ $pages = $pages | lang.Merge (.Site.GetPage "/events").RegularPagesRecursive }}
        {{ end }}
        {{ range first 3 (where $pages "Params.featured" true) }}
        <div class="col-12 col-md-4">
          <div class="card h-100"> 
            <img class="card-image" src={{ .Params.thumbnail }} alt="{{.Title}}" class="card-img-top" />
            <div class="post-entry my-2 p-3"> 
              <h4 class="mt-1">{{ .Title | safeHTML}}</h4>
              <div class="d-flex">
                <div class="d-flex flex-column flex-lg-row">
                  <div class="mt-2 mt-md-0 pe-md-3 event-info">
                    <img class="info-icon" src="/images/noun-calendar-6945157.png" alt={{ partial "i18n_date.html" . }}
                    />
                    {{ partial "i18n_date.html" . }}
                  </div>
                  <div class="mt-2 mt-md-0 event-info">
                    <img class="info-icon" src="/images/noun-location-4775289.png" alt="{{ .Params.Location }}"  />
                    {{ .Params.Location }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {{end}}
      </div>
    </div>
  </section>
  
  <section class="section-gray post d-flex align-items-center pt-3 pb-5">
    <div class="container pb-3">
      <div class="d-flex justify-content-between align-items-center pb-4 px-3">
        <h2 class="text-left ml-4">{{ i18n "home.featured-blog-posts-title" }}</h2>
        <a href="/blog" class="btn btn-primary mt-4 d-none d-md-block mx-2">{{ i18n "home.button.see-all" }}</a>
      </div>
      <div class="row g-5 mx-0 ">
        {{ $pages := (.Site.GetPage "/blog").RegularPagesRecursive }}
        {{ range .Site.Home.Translations }}
        {{ $pages = $pages | lang.Merge (.Site.GetPage "/blog").RegularPagesRecursive }}
        {{ end }}
        {{ range first 3 (where $pages "Params.featured" "eq" true) }}
        <div class="col-12 col-md-4">
          <a href="{{ .Permalink }}">
            <div class="card h-100"> 
              <img src={{ .Params.thumbnail }} alt="{{.Title}}" class="card-img-top" />
              <div class="post-entry my-2 p-3"> 
                <h4 class="mt-1 h5">{{ .Title | safeHTML}}</h4>
              </div>
            </div>
          </a>
        </div>
        {{end}}
      </div>
      <div class="text-center pt-5 d-md-none">
        <a href="/blog" class="btn btn-outline-success w-100">{{ i18n "home.button.see-all" }}</a>
      </div>
    </div>
  </section>

  <section class="d-flex align-items-center py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 ">
          <img src="/images/about-kde-image-optimized.png" alt={{ i18n "home.about-kde-description-kde" }} class="img-fluid pb-4">
        </div>
        <div class="col-lg-5 px-5">
          <h2 class="m-0 pb-4">{{ i18n "home.about-kde-title" }} </h2>
          <p>{{ i18n "home.about-kde-description-kde" }}</p>
          <p>{{ i18n "home.about-kde-description-kde-2" }}</p>
        </div>
      </div>
    </div>
  </section>

  <section class="section-gray d-flex align-items-center py-5">
    <div class="container py-5">
      <div class="row h-100 align-items-center">
        <div class="col-lg-3 col-md-6 ">
          <img src="/images/green-web-foundation-image.png" alt={{ i18n "home.about-kde-description-kde" }} class="img-fluid mx-auto pb-4 d-block">
        </div>
        <div class="col-lg-8 px-5 col-md-12 d-flex flex-column justify-content-center">
          <h2 class="m-0 pb-4">{{ i18n "home.about-website" }} </h2>
          <p> {{ i18n "home.about-website-description" | markdownify  }}</p>
        </div>
      </div>
    </div>
  </section>
</main>

{{ end }}